$player1-color: rgb(45, 45, 230);
$player2-color: rgb(230, 73, 45);

.board-columns {
  width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  cursor: pointer;
}

.board-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin ball() {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.item {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: rgb(212, 212, 212);
  & div:nth-child(1) {
    @include ball;
    background-color: rgb(243, 243, 243);
  }
}

.p1-color {
  background-color: $player1-color !important;
  animation: ball-animation 700ms forwards;
}

.p2-color {
  background-color: $player2-color !important;
  animation: ball-animation 700ms forwards;
}

@keyframes ball-animation {
  0% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(0px);
  }
}
