.title {
  text-align: center;
  font-weight: bold;
}

.title--normal {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.title--small {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.title--large {
  font-size: 4rem;
  line-height: 4rem;
}
