.container {
  position: relative;
  padding: 40px 0;
  animation: animate-page 500ms;
}

.menu-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 20px;
  gap: 15px;
}

.close {
  padding: 5px;
  border: 2px solid var(--color-1);
  border-radius: 10px;
}

@keyframes animate-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
