.header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  line-height: 3.5rem;
  font-size: 4rem;
  color: white;
  text-shadow: 0 0 10px var(--color-1), 0 0 20px var(--color-1), 0 0 30px var(--color-1);
}

.header-block {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header-block span {
  display: inline-block;
  opacity: 0;
  transform: translateX(100%);
  animation: fade-from-right 0.5s forwards;
}

@keyframes fade-from-right {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
