* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --color-1: #dc2626;
  --color-2: #b91c1c;
  --player1-color: rgb(45, 45, 230);
  --player2-color: rgb(230, 73, 45);
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

a {
  text-align: center;
  text-decoration: none;
}
