@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --color-1: #1347d4;
  --color-2: #b91c1c;
  --color-3: #99a9bb;
  --color-4: #1d437c;
  --color-5: #4167ad;
  --color-6: #859dca;
  --color-7: rgba(27, 46, 70, 0.5);
  --success: #16a34a;
  --white: #fff;
  --player1-color: #6d28d9;
  --player2-color: #1d4ed8;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

a {
  text-align: center;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
